/* Apply base styles */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background_1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    /* Scroll with the content */
}

.top-right-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.top-right-buttons button {
    border: 2px solid #800000;
    color: #800000;
    border-radius: 5px;
    background-color: white;
    background-origin: border-box;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-right-buttons button:hover {
    background-color: #800000;
    color: white;
    border-color: #800000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.grid-container {
    display: grid;
    grid-template-columns: 0% 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    margin-top: 80px;
}

.section {
    grid-column: 2 / 4;
    padding: 20px;
    min-height: 100vh;
}

/* header styles */
.header-title {
    font-size: 2em;
    font-weight: bold;
    color: #8b6f4e;
    margin-bottom: 20px;
    border-bottom: 2px solid #8b6f4e;
    padding-bottom: 10px;
}

/* homepage styles */
#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-text {
    background-color: #f7f1e1;
    /* Soft rice-paper color */
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Hachi Maru Pop', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    color: #2e3d49;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #8b6f4e;
    width: fit-content;
    max-width: 500px;
}

#tagline {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 0.30em;
    color: #800000;
    margin-top: 8px;
    font-style: normal;
    letter-spacing: 0.2px;
    opacity: 0.8;
    line-height: 1.2;
}

/* blinking caret(vertical bar) */
.blinking-bar {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: black;
    margin-left: 5px;
    vertical-align: bottom;
    animation: blink 3s infinite step-start;
}

/* keyframes for blinking effect */
@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* common */
p {
    color: #333;
    font-size: 1.1em;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    color: #2E3D49;
    font-size: 15px;
    background-color: #F1F1F1;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.timeline {
    position: relative;
    padding: 10px 0;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    left: 20px;
    background: #C5C5C5;
}

.timeline li {
    margin-bottom: 40px;
    position: relative;
    padding-left: 40px;
    font-family: 'Russo One', serif;
}

.timeline li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #808080;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 3px #FFF;
    z-index: 1;
}

.timeline li div {
    background: #f7f1e1;
    color: #333;
    padding: 15px;
    border-radius: 6px;
    position: relative;
    border: 2px solid #8b6f4e;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
}

ul li:before {
    content: "•";
    color: #3C8DAD;
    font-size: 1.2em;
    margin-right: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3C8DAD;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2F6D82;
}

.timeline li div:hover {
    background-color: #F9F9F9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* contactpage styles */
.contact-box {
    background-color: #f7f1e1;
    /* Soft rice-paper color */
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    border: 2px solid #8b6f4e;
    /* Dark beige border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-box a {
    display: block;
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.contact-box a:hover {
    background-color: #f1c40f;
    color: white;
}

.contact-box i {
    margin-right: 10px;
}

/*custom icons */
.contact-box a.gmail::before {
    content: "\2709";
    /* unicode gmail */
    margin-right: 10px;
    color: #ea4335;
}

.contact-box a.phone::before {
    content: "\260E";
    /* Unicode phone */
    margin-right: 10px;
}

.contact-box a.linkedin::before {
    content: "\1F465";
    /* Unicode LinkedIn */
    margin-right: 10px;
    color: #0077b5;
}

.contact-box a.youtube::before {
    content: "\25B6";
    /* Unicode Youtube */
    margin-right: 10px;
    color: red;
}

.contact-box a span {
    visibility: hidden;
}

.contact-box a:hover span {
    visibility: visible;
}